<h3>Create new sub below:</h3>

<form action="<%= subs_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label>Name:
    <input type="text" name="sub[name]">
  </label>

  <br><br>

  <label name="description">Description:
    <textarea name="sub[description]" id="description"></textarea>
  </label>

  <br><br>

  <input type="submit" value="Create my sub!">
  
</form>